---
title : Profile
layout : tataletak.njk
nama: Jefri Manurung
nim: 14117107
---

<div class="card">
  <img src="/assets/img/profile.JPG" alt="" style="width: 100%;">
  <h1>{{nama}}</h1>
  <p class="nim">{{nim}}</p>
  <p>Institut Teknologi Sumatera</p>
  <a href="https://github.com/jefrymanurung23" target="_blank"><i class="fa fa-github"></i>&nbsp&nbsp</a>
  <a href="https://twitter.com/jefrym_id" target="_blank"><i class="fa fa-twitter"></i>&nbsp&nbsp</a>
  <a href="https://linkedin.com/in/jefrimanurung" target="_blank"><i class="fa fa-linkedin"></i>&nbsp&nbsp</a>
  <a href="https://www.facebook.com/jefriselalubrsmaegodausheksawahyuferdiandalweuntuk?ref=bookmarks" target="_blank"><i class="fa fa-facebook"></i></a>
  <div class="spasi">&nbsp</div>
</div>